body {
    margin: 100px auto;
    width: 70%;
    color: #E0E0E0;
    background-color: #455A64;
}

@media only screen and (min-width: 481px) {
  body {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}
    
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #E0E0E0;
    
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-top: 100px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

about {
    text-align: center;
}

.blurb-text {
    text-align: center;
}




