body{
    margin: 0;
}


/****************************/

.navbar{
    margin: 0 auto;
    padding: 0;
    background:#996633!important;
}



.navbar-brand {
    color:white !important;
}

nav .navbar-nav li a{
    color: white !important;
    }

/**********Jumbotron******************/
.jumbotron {
    text-align: center;
    background: linear-gradient(to bottom, #996633 0%, #ffffff 100%);}

.greeting{
    margin-top: 60px;
}

.lead{
    margin-bottom: 60px;
}


/**********section-2******************/

.section-2{
    height:500px;
    background-color: white;
}