<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><i class="fab fa-twitter"></i></li>


	        		<li><a href="mailto:drew@andevr.dev">email</a></li>
				</li><a class="github-button" href="https://github.com/tindrew" data-color-scheme="no-preference: dark; light: dark; dark: dark;" aria-label="Follow @tindrew on GitHub">Follow @tindrew</a></li>
				<li><a href="https://twitter.com/Andevrs?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Andevrs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
				</ul>
		
			</footer>
			
			<script async defer src="https://buttons.github.io/buttons.js"></script>
		</body>
	</html>
