<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				


	        		<li><a href="mailto:drew@andevr.dev"><i class="far fa-envelope fa-5x"></i></a></li>
				<li><a href="https://github.com/tindrew"  aria-label="Follow @tindrew on GitHub"><i class="fab fa-github fa-5x"></i></a></li>
				<li><a href="https://twitter.com/Andevrs"><i class="fab fa-twitter fa-5x"></i></a></li>
				</ul>
		
			</footer>
			<script src="https://kit.fontawesome.com/09b5efbfe0.js" crossorigin="anonymous"></script>
			<script async defer src="https://buttons.github.io/buttons.js"></script>
		</body>
	</html>
